input {
  -webkit-appearance: none;
  border: 1px solid $color-yellow-2;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  height: 30px;
  line-height: 1.5rem;
  padding: 8px 16px;
  width: calc(100% - 34px);

  &::placeholder {
    color: $color-grey-2;
    font-size: .875rem;
  }
}

label {
  color: $color-grey;
  display: block;
  font-size: 14px;
  line-height: 1.25rem;
  padding: 0 0 4px;
}
