$font-main: Open Sans,Segoe UI,Tahoma,sans-serif;
$font-second: Ubuntu,Open Sans,Segoe UI,Tahoma,sans-serif;

$color-blu: #0A6FBA;
$color-green: #006E3E;
$color-grey: #444;
$color-grey-2: #B4B4B4;
$color-white: #FFF;
$color-yellow: #F3CE56;
$color-yellow-2: #C8AE5B;

$breakpoint-desktop: 768px;
$breakpoint-tablet: 768px;
