$font-main: open sans,segoe ui,tahoma,sans-serif;
$font-second: ubuntu,open sans,segoe ui,tahoma,sans-serif;

$color-black: #000;
$color-blu: #0A6FBA;
$color-blu-2: #E7F4FE;
$color-green: #006E3E;
$color-grey: #444;
$color-grey-2: #B4B4B4;
$color-grey-3: #333;
$color-white: #FFF;
$color-yellow: #F3CE56;
$color-yellow-2: #C8AE5B;

$breakpoint-desktop: 768px;
$breakpoint-tablet: 768px;
